RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

Order allow,deny
Deny from All

<If "%{THE_REQUEST} =~ m#^POST /RPC2#">
        Allow from All
        Satisfy Any
</If>
